<div class="w-full h-auto min-h-[calc(100vh-68px)] flex flex-col justify-start items-start gap-5">
  <div class="w-full flex flex-row items-center">
    <div
      class="w-14 h-14 p-2 rounded-3xl bg-gradient-to-br from-violet-300 to-blue-400 shadow-lg shadow-(--textBlack15) dark:shadow-(--textWhite15) dark:shadow-xl"
    >
      <img src="assets/vectors/magazine2.svg" class="w-full h-full" alt="" />
    </div>
    <div class="flex flex-col pr-4 gap-1">
      <h1
        class="text-(length:--heading-text18) flex items-center font-bold dark:text-(--textWhite95)"
      >
        مقالات
        @if (categoryName()) {
          <p
            class="inline-block text-(length:--blogcard-categoryLabelSize) mr-2 text-blue-600 dark:text-blue-400 gap-1"
          >
            > &nbsp; {{ categoryName() }}
            <span
              class="inline-block text-(length:--blogcard-countBadgeSize) mr-2 bg-blue-100/80 dark:bg-blue-600/30 py-1 pb-0.5 rounded-2xl px-3 text-blue-600 dark:text-blue-400"
              >{{ byCatValue()?.length }} مقاله مرتبط</span
            >
          </p>
        } @else if (queryParamCategoryUrlHandles()?.length) {
          <p
            class="inline-block text-(length:--blogcard-categoryLabelSize) mr-2 text-blue-600 dark:text-blue-400 gap-1"
          >
            > &nbsp; {{ categoryNamesFromQueryParams().join(' , ') }}
            <span
              class="inline-block text-(length:--blogcard-countBadgeSize) mr-2 bg-blue-100/80 dark:bg-blue-600/30 py-1 pb-0.5 rounded-2xl px-3 text-blue-600 dark:text-blue-400"
            >
              {{ filteredPosts()?.length }} مقاله مرتبط
            </span>
          </p>
        }
        @if (addBlogActive) {
          <span
            class="inline-block text-(length:--small-text14) leading-(--leading-sm) text-(--textBlack60) mr-2 dark:text-(--textWhite95)"
          >
            > &nbsp; ایجاد مقاله
          </span>
        }
      </h1>
      <span
        class="text-(length:--small-text12) text-(--textBlack55) dark:text-(--textWhite65) mt-1"
      >
        مشاهده جدیدترین و مفید ترین مقالات در زمینه
        {{
          categoryName()
            ? categoryName()
            : queryParamCategoryUrlHandles()?.length
              ? categoryNamesFromQueryParams().join(' , ')
              : 'آموزشی، علمی، خبری و ..'
        }}
      </span>
    </div>
    @if (!addBlogActive && authService.loggedUser()?.roles!.includes('Writer')) {
      <a
        role="button"
        [routerLink]="['/admin', 'blogs', 'add']"
        class="p-2 px-4 text-(length:--small-text14) leading-(--leading-sm) relative bg-blue-600 text-white flex mr-auto ml-0 flex-row justify-center items-center gap-1 rounded-(length:--blogcard-cardRadius) shadow-md shadow-(--textBlack20) cursor-pointer"
        (click)="addBlogActive = true"
      >
        <img src="assets/vectors/plus_math.svg" class="w-4 h-4" alt="" />
        <img
          src="assets/vectors/arrow (1).png"
          class="absolute left-full w-9 ml-2.5 bottom-2 opacity-90 animate-pulse rotate-110 -scale-y-100"
          alt=""
        />
        مقاله جدید
      </a>
    }
  </div>
  <div class="gap-5 mt-2" id="blogs-container">
    @if (loading()) {
      <p>درحل بارگذاری...</p>
    }
    @if (error()) {
      <p>مشکل در بارگذاری...</p>
    }
    @if (value()) {
      @for (blog of filteredPosts(); track blog.id) {
        <div
          id="blog-card"
          class="w-full glass-card-blog h-(length:--blogcard-cardHeight) hover:-translate-y-1.5 hover:shadow-lg transition cursor-pointer overflow-hidden relative"
        >
          <div id="header" class="h-[65%] bg-blue-200 dark:bg-(--textWhite15) overflow-hidden">
            <img [src]="blog.featuredImageUrl" class="w-full h-full object-cover" />
            <div
              class="w-full z-10 h-fit flex flex-row justify-between items-center absolute bottom-0 px-3.5 py-3.5"
            >
              <div class="flex flex-row gap-1.5 justify-center items-center">
                <div
                  class="w-6 h-6 bg-white shadow-md shadow-(--textBlack15) rounded-full flex justify-center items-center text-[15px]"
                >
                  <img class="w-5 h-5 opacity-50" src="assets/vectors/male_user.svg" />
                </div>
                <p
                  class="text-(length:--blogcard-authorNameSize) text-(--textWhite95) text-shadow-lg text-shadow-(--textBlack10)"
                >
                  {{ blog.author }}
                </p>
              </div>
            </div>
          </div>
          <div id="main" class="w-full h-[35%] p-3 flex flex-col gap-1">
            <h2
              id="title"
              class="text-(length:--small-text15) font-bold text-(--textBlack90) dark:text-(--textWhite95)"
            >
              {{ blog.title }}
            </h2>
            <p
              id="shortDescription"
              class="text-(length:--small-text12) text-(--textBlack60) dark:text-(--textWhite60) leading-(--blogcard-descLineHeight)"
            >
              {{ blog.shortDescription }}
            </p>
          </div>
          <span
            class="text-(length:--blogcard-metaSize) text-(--textBlack50) dark:text-(--textWhite50) absolute bottom-1.5 left-4.5"
            >{{ blog.publishedDate | persianDate }}</span
          >
          <div
            id="categories"
            class="absolute flex flex-row justify-center items-center bottom-1.5 right-3 gap-1"
          >
            @for (category of blog.categories; track category.id) {
              <span
                class="text-blue-600 dark:text-blue-400 text-(length:--blogcard-metaSize) pb-0.5 px-1.5 pt-1 bg-blue-100 dark:bg-blue-500/20 rounded-lg opacity-80"
                >{{ category.name }}</span
              >
            }
          </div>
          <div
            id="buttons"
            class="w-full h-fit p-2 flex flex-row items-start justify-end absolute left-0 top-0"
          >
            <div
              class="flex flex-row bg-white dark:bg-gray-900 shadow-md shadow-(--textBlack20) rounded-(length:--blogcard-buttonBarRadius) py-1 pb-0.5 px-2 gap-1.5"
            >
              <button
                [routerLink]="['/admin/blogs', 'edit', blog.id]"
                class="p-1 text-white cursor-pointer"
              >
                <i
                  title="ویرایش"
                  class="fa-regular fa-pen-to-square"
                  style="color: var(--color-editIcon)"
                ></i>
              </button>
              <button class="p-1 text-white cursor-pointer" (click)="deleteBlog(blog.id)">
                <i
                  title="حذف"
                  class="fa-regular fa-trash-can"
                  style="color: var(--color-deleteIcon)"
                ></i>
              </button>
            </div>
          </div>
        </div>
      }
      @if (!filteredPosts()) {
        <span class="w-full text-[12px] text-black/60 dark:text-white/60 text-center py-6 mt-10">
          نتیجه ای یافت نشد!
        </span>
      }
    }
  </div>
</div>
