swiper-container::part(button-prev),
swiper-container::part(button-next) {
  width: 30px;
  height: 30px;
  padding: 0 20px;
  color: #ffffff;
}
swiper-container::part(bullet-active) {
  background-color: #c2cdff;
}

#subCategoryBox {
  transition: max-height 0.5s ease-in-out;
  max-height: 0px;
  overflow: hidden;
}
#hint:checked ~ #main-hint {
  max-height: 500px;
}
#main-hint p {
  margin: 0;
}

.glass-card {
  /* background: rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow:
    0 5px 15px rgba(0, 0, 0, 0.15),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2),
    transparent,
    rgba(255, 255, 255, 0.2)
  );
}

.hero-blog-card::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1) 170%);
}

#categories-container {
  scrollbar-width: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  grid-template-rows: 135px;
}



