<div
  class="bg-transparent w-full min-h-[calc(100vh-68px)] flex flex-col justify-center items-center overflow-hidden pb-5"
>
  <div class="relative w-full max-w-[390px]">
    <div class="sky dark:opacity-10">
      <div class="cloud c1"></div>
      <div class="cloud c2"></div>
      <div class="cloud c3 dark:hidden"></div>
      <div class="cloud c4 dark:top-[100px]!"></div>
      <div class="cloud c5 dark:hidden"></div>
    </div>
    <div class="sun dark:hidden"></div>
    <div class="uiverse-midnight-sky dark:flex hidden">
      <div class="sky-canvas">
        <div class="stars stars-1"></div>
        <div class="stars stars-2"></div>
        <div class="stars stars-3"></div>

        <div class="meteor m1"></div>
        <div class="meteor m2"></div>
        <div class="meteor m3"></div>

        <div class="moon"></div>
      </div>
    </div>
    <div class="text-center mb-8">
      <div class="mx-auto w-20 h-20 flex items-center">
        <img src="assets/vectors/loginkey.svg" class="w-full h-full object-contain" alt="" />
      </div>

      <h1 class="mt-4 text-[23px] font-bold text-blue-900 dark:text-blue-200">ورود به حساب</h1>

      <p class="mt-2 text-sm text-black/60 dark:text-white/60">برای ادامه وارد حساب خود شوید</p>
    </div>

    <form class="flex flex-col gap-4" [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
      <div class="flex-1 flex flex-col gap-3 items-start relative">
        <label class="text-sm font-bold text-black/80 dark:text-white/95" for="login-email">
          ایمیل
        </label>
        @if (loginFormGroup.controls.email.invalid && loginFormGroup.controls.email.dirty) {
          <i
            class="fa-solid fa-circle-exclamation absolute left-3.5 top-11.5"
            style="color: rgba(254, 110, 110, 0.8)"
          ></i>
        }
        @if (loginFormGroup.controls.email.valid && loginFormGroup.controls.email.dirty) {
          <i
            class="fa-solid fa-check absolute left-3.5 top-11.5"
            style="color: rgb(150, 177, 124)"
          ></i>
        }
        <input
          type="email"
          email
          class="focus:border-black/30 bg-white/60 dark:focus:border-white/30 w-full input-text-normal h-11 border dark:bg-white/5 border-black/15 dark:border-white/20 dark:text-white/95 rounded-[15px] py-1 px-4 outline-0"
          placeholder="example@gmail.com"
          id="login-email"
          formControlName="email"
        />
        @if (
          loginFormGroup.controls.email.touched &&
          loginFormGroup.controls.email.hasError('required')
        ) {
          <span class="text-[10px] absolute top-1 left-1 text-red-500 dark:text-red-400/90"
            >وارد کردن ایمیل الزامی است</span
          >
        }
        @if (
          loginFormGroup.controls.email.value.length > 5 && loginFormGroup.controls.email.invalid
        ) {
          <span class="text-[10px] absolute top-1 left-1 text-red-500 dark:text-red-400/90"
            >فرمت ایمیل اشتباه است</span
          >
        }
      </div>

      <div class="flex-1 flex flex-col gap-3 items-start relative">
        <label class="text-sm font-bold text-black/80 dark:text-white/95" for="login-password"
          >رمز عبور</label
        >
        @if (loginFormGroup.controls.password.invalid && loginFormGroup.controls.password.dirty) {
          <i
            class="fa-solid fa-circle-exclamation absolute left-3.5 top-11.5"
            style="color: rgba(254, 110, 110, 0.8)"
          ></i>
        }
        @if (loginFormGroup.controls.password.valid && loginFormGroup.controls.password.dirty) {
          <i
            class="fa-solid fa-check absolute left-3.5 top-11.5"
            style="color: rgb(150, 177, 124)"
          ></i>
        }
        <input
          type="password"
          class="focus:border-black/30 bg-white/60 dark:focus:border-white/30 w-full input-text-normal h-11 border dark:bg-white/5 border-black/15 dark:border-white/20 dark:text-white/95 rounded-[15px] py-1 px-4 outline-0"
          placeholder="********"
          formControlName="password"
          #passwordInput
        />
        @if (passwordInput.type === 'text') {
          <i (click)="passwordInput.type = 'password'" class="fa-regular fa-eye-slash absolute right-13 top-2.5 fa-sm cursor-pointer" style="color: rgba(175, 130, 130, 0.75);"></i>
        }
        @if (passwordInput.type === 'password') {
          <i (click)="passwordInput.type = 'text'" class="fa-regular fa-eye absolute right-13 top-2.5 fa-sm cursor-pointer" style="color: rgba(175, 130, 130, 0.75);"></i>
        }
        @if (
          loginFormGroup.controls.password.touched &&
          loginFormGroup.controls.password.hasError('required')
        ) {
          <span class="text-[10px] absolute top-1 left-1 text-red-500 dark:text-red-400/90"
            >وارد کردن رمز عبور الزامی است</span
          >
        }
      </div>

      <div class="flex justify-between text-sm my-1">
        <label class="flex gap-2 items-center text-sm text-black/80 dark:text-white/95">
          <input type="checkbox" />
          مرا به خاطر بسپار
        </label>
        <a href="#" class="text-blue-600 dark:text-blue-500"> فراموشی رمز؟ </a>
      </div>

      <button
        type="submit"
        class="w-full h-12 cursor-pointer hover:to-blue-700 transition rounded-2xl shadow-lg shadow-black/15 bg-gradient-to-r from-violet-500/80 to-blue-500/80 dark:to-blue-600 text-white font-bold"
      >
        ورود
      </button>
    </form>

    <p class="mt-6 text-center text-sm text-black/60 dark:text-white/60">
      حساب ندارید؟

      <a class="text-blue-600 dark:text-blue-500"> ثبت نام </a>
    </p>
  </div>
</div>
