@import './font.css';
@import 'ngx-toastr/toastr';
@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  direction: rtl;
  text-align: right;
  font-family: 'IranSansX';
}

a {
  text-decoration: none;
}

button {
  outline: 0;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* پی‌فرض لایت */
    -webkit-text-fill-color: black !important;
  }
  .dark input:-webkit-autofill,
  .dark input:-webkit-autofill:hover,
  .dark input:-webkit-autofill:focus,
  .dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #000000 inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.95) !important;
  }
  .image-selector-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 9999;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .button-glass {
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
      0 2px 8px 0px rgba(0, 0, 0, 0.1),
      inset 0 1px 0 rgba(255, 255, 255, 0.5),
      inset 0 -1px 0 rgba(255, 255, 255, 0.1),
      inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  .button-glass::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  }
  .button-glass::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3),
      transparent,
      rgba(255, 255, 255, 0.2)
    );
  }
}
@layer base {
  .dark * {
    scrollbar-color: #5e5e5e #151515;
  }
}

@layer base {
  .btn-mainBlue {
    @apply bg-blue-600 shadow-md shadow-black/20 rounded-md text-white text-sm;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .text-description {
    @apply text-black/65;
  }
  .text-title {
    @apply text-black/80 font-bold;
  }
  .input-text-normal {
    @apply text-black/70 text-[13px];
  }
}

@layer utilities {
  @keyframes scaleIn {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes scaleOut {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes zoomIn {
    0% {
      transform: scale(100%);
    }

    100% {
      transform: scale(110%);
    }
  }

  @keyframes scaleInTop {
    0% {
      transform: scale(0);
      transform-origin: 50% 0%;
    }

    100% {
      transform: scale(1);
      transform-origin: 50% 0%;
    }
  }

  .scaleInFromTop {
    animation: scaleInTop 0.2s ease 0s 1 normal forwards;
  }
  .zoomIn {
    animation: zoomIn 10s ease 0.2s normal forwards;
  }
  .scaleInCenter {
    animation: scaleIn 0.3s ease 0s 1 normal forwards;
  }
  .scaleOutCenter {
    animation: scaleOut 0.3s ease 0s 1 normal forwards;
  }
}

*:not(html) {
  scrollbar-width: thin;
  scrollbar-color: #929292a8 transparent;
}

*:not(html)::-webkit-scrollbar {
  width: 4px;
}

*:not(html)::-webkit-scrollbar-button {
  display: none !important;
}

*:not(html)::-webkit-scrollbar-thumb {
  background-color: #0369a1 !important;
  border-radius: 9999px;
}

*:not(html)::-webkit-scrollbar-track {
  margin-block: 8px !important;
  background-color: #e0f2fe;
  border-radius: 9999px;
}
