<nav class="w-full flex flex-row justify-between items-center py-5 pb-3 px-6 bg-transparent mb-2">
  <div class="w-auto flex flex-row gap-7 items-center">
    <h1
      [routerLink]="['/']"
      class="font-extrabold text-(length:--navbar-logoSize) flex flex-row items-center text-blue-600 cursor-pointer"
    >
      بلاکُد
    </h1>
    <div>
      <ul class="flex flex-row gap-7 text-sm font-semibold">
        <li
          class="flex justify-center gap-1.5 items-center cursor-pointer text-(--textBlack90) hover:text-black dark:text-(--textWhite90) dark:hover:text-white transition"
        >
          <i class="fa-brands fa-buffer mb-0.5" style="color: var(--color-brandBlue)"></i>
          <a [routerLink]="['blogs']">مقالات</a>
        </li>
        <!-- <li
          class="flex justify-center gap-1.5 items-center cursor-pointer text-(--textBlack90) hover:text-black dark:text-(--textWhite90) dark:hover:text-white transition"
        >
          <i class="fa-solid fa-feather-pointed fa-sm mb-0.5" style="color: var(--color-brandBlue)"></i>
          <a>نویسندگان</a>
        </li> -->
        <li
          (mouseenter)="categoryService.categoriesDropDownInHeader = true"
          (mouseleave)="categoryService.categoriesDropDownInHeader = false"
          class="relative flex justify-center gap-1.5 items-center py-2 cursor-pointer text-(--textBlack90) hover:text-black dark:text-(--textWhite90) dark:hover:text-white transition"
        >
          <i class="fa-solid fa-grip-vertical fa-sm mb-0.5" style="color: var(--color-brandBlue)"></i>
          <a>دسته بندی ها</a>
          @if (categoryService.categoriesDropDownInHeader === true) {
            <div
              class="w-72 glass-card bg-(--textWhite35)! dark:bg-(--textBlack30)! py-3 px-4 absolute top-full right-0 z-50 scaleInFromTop"
            >
              @if (categoriesLoading()) {
                <app-loader></app-loader>
              } @else {
                <ul class="flex flex-col list-unstyled gap-0.5">
                  @for (
                    mainCategory of categories()?.filter(c => c.parentCategoryId == null);
                    track mainCategory.id
                  ) {
                    <li class="w-full flex flex-col">
                      <div class="w-full flex justify-between items-center gap-2 cursor-pointer">
                        <i
                          class="fa-solid fa-chevron-down fa-sm transition-transform duration-300 text-(--textBlack80) dark:text-(--textWhite80)"
                          [class.rotate-180]="isOpen(mainCategory.id)"
                          (click)="toggleCategory(mainCategory.id)"
                        ></i>
                        <p
                          class="w-max flex items-center justify-between py-[7px] text-(length:--navbar-dropdownXl) text-(--textBlack90) dark:text-(--textWhite90)"
                          [routerLink]="['blogs', 'byCategory', mainCategory.name]"
                          (click)="categoryService.categoriesDropDownInHeader = false"
                        >
                          {{ mainCategory.name }}
                        </p>
                        <span class="text-(length:--navbar-dropdownSm) ml-0 mr-auto text-(--textBlack70) dark:text-(--textWhite70)"
                          >{{ mainCategory.subCategories?.length }} زیر دسته</span
                        >
                      </div>
                      <div
                        class="overflow-hidden transition-all duration-200 bg-(--textBlack05)! dark:bg-(--textWhite10)! rounded-xl"
                        [class.max-h-0]="!isOpen(mainCategory.id)"
                        [class.max-h-96]="isOpen(mainCategory.id)"
                        [class.opacity-0]="!isOpen(mainCategory.id)"
                        [class.opacity-100]="isOpen(mainCategory.id)"
                        [class.p-0]="!isOpen(mainCategory.id)"
                        [class.p-2]="isOpen(mainCategory.id)"
                      >
                        <ul class="flex flex-col gap-[7px]">
                          @for (sub of mainCategory.subCategories; track sub.id) {
                            <li class="w-full flex flex-col justify-between items-center">
                              <div
                                class="w-full flex flex-row items-center justify-between p-1 text-(length:--navbar-dropdownMd) text-(--textBlack80) dark:text-(--textWhite80) gap-2"
                              >
                                <i
                                  class="fa-solid fa-chevron-down fa-sm transition-transform duration-300 cursor-pointer text-(--textBlack80)! dark:text-(--textWhite80)!"
                                  [class.rotate-180]="isOpen(sub.id)"
                                  (click)="toggleCategory(sub.id)"
                                ></i>
                                <p
                                  [routerLink]="['blogs', 'byCategory', sub.name]"
                                  (click)="categoryService.categoriesDropDownInHeader = false"
                                >
                                  {{ sub.name }}
                                </p>
                                <span
                                  class="text-(length:--navbar-dropdownXs) text-(--textBlack60) dark:text-(--textWhite60) ml-0 mr-auto"
                                  >{{ sub.subCategories?.length }} زیر دسته</span
                                >
                              </div>
                              <div
                                class="overflow-hidden transition-all duration-200"
                                [class.max-h-0]="!isOpen(sub.id)"
                                [class.max-h-96]="isOpen(sub.id)"
                                [class.opacity-0]="!isOpen(sub.id)"
                                [class.opacity-100]="isOpen(sub.id)"
                              >
                                <ul class="flex flex-row flex-wrap gap-2 py-1.5 px-0.5">
                                  @for (sub1 of sub.subCategories; track sub1.id) {
                                    <li
                                      (click)="toggleCategory(sub1.id)"
                                      [routerLink]="['blogs', 'byCategory', sub1.name]"
                                      (click)="categoryService.categoriesDropDownInHeader = false"
                                      class="w-fit flex items-center shadow-sm shadow-(--textBlack20) bg-(--textWhite30) dark:bg-(--textBlack20) justify-center p-1 px-2 text-(length:--navbar-dropdownSm) rounded-xl text-(--textBlack80) dark:text-(--textWhite80)"
                                    >
                                      {{ sub1.name }}
                                    </li>
                                  }
                                </ul>
                              </div>
                            </li>
                          }
                        </ul>
                      </div>
                    </li>
                  }
                  @if (authService.loggedUser() && authService.loggedUser()?.roles!.includes('Writer')) {
                    <li class="w-full flex flex-row">
                      <p
                        class="w-max flex items-center justify-between pt-[7px] text-(length:--navbar-dropdownMd) text-blue-600 dark:text-blue-300 gap-2"
                        [routerLink]="['/admin', 'categories']"
                      >
                        <i
                          class="fa-regular fa-pen-to-square fa-[10px] text-blue-600 dark:text-blue-300"
                        ></i>
                        ویرایش دسته بندی ها
                      </p>
                    </li>
                  }
                </ul>
              }
            </div>
          }
        </li>
      </ul>
    </div>
  </div>
  <div class="w-auto flex flex-row gap-3 justify-end items-center">
    <label class="ui-switch">
      <input type="checkbox" [checked]="isDarkMode" (change)="toggleTheme()" />
      <div class="slider bg-(--textBlack10) dark:bg-(--textWhite15)">
        <div class="circle"></div>
      </div>
    </label>

    @if (authService.loggedUser()) {
      <div
        class="cursor-pointer flex flex-row relative items-center rounded-xl shadow-md shadow-(--textBlack15) h-8 text-xs border dark:border-blue-500/35 border-blue-600/50"
        (click)="userInfoBoxOpen = !userInfoBoxOpen"
      >
        <span class="w-1.5 h-1.5 absolute top-0 left-0 bg-green-600 rounded-full"></span>
        <span
          class="w-8 h-8 rounded-xl flex justify-center items-center bg-blue-600/30 hover:bg-blue-600/20 transition bg overflow-hidden"
        >
          @if (authService.loggedUser()?.roles!.includes('Writer')) {
            <i class="fa-solid fa-user-tie fa-2xl mt-2" style="color: var(--color-brandBlue)"></i>
          } @else {
            <i class="fa-solid fa-user fa-2xl mt-2" style="color: var(--color-brandBlue)"></i>
          }
        </span>
        @if (userInfoBoxOpen) {
          <div
            class="w-fit max-w-[240px] glass-card flex flex-col justify-center items-center gap-2 bg-(--textWhite45)! dark:bg-(--textBlack30)! py-3 px-4 absolute top-full mt-2 left-0 z-50 scaleInFromTop"
          >
            <div class="flex flex-col items-center gap-2">
              @if (authService.loggedUser()?.roles!.includes('Writer')) {
                <span
                  class="role-badge bg-blue-600/70 text-blue-100 rounded-xl px-2 py-1 text-(length:--navbar-dropdownBase) w-fit border dark:border-blue-500/35 border-blue-600/30"
                >
                  <i class="fa-solid fa-feather-pointed"></i>
                  نویسنده
                </span>
              }
              <span class="dark:text-(--textWhite90) text-(--textBlack80) text-center text-(length:--navbar-dropdownLg)">{{
                authService.loggedUser()?.email
              }}</span>
            </div>
          </div>
        }
      </div>
      <button
        title="خروج از حساب"
        (click)="onLogout()"
        class="cursor-pointer bg-red-500/80 shadow-md shadow-(--textBlack15) rounded-xl h-8 w-8 text-sm py-1.5 flex justify-center items-center gap-2"
      >
        <i class="fa-solid fa-power-off" style="color: var(--textWhite90)"></i>
      </button>
    }
    @if (!authService.loggedUser() && showLoginBtn) {
      <button
        [routerLink]="['login']"
        class="cursor-pointer rounded-[13px] w-fit h-8 bg-blue-600 shadow-md shadow-black/20 text-white/90 text-sm flex flex-row items-center gap-2 font-thin px-4"
      >
        <i class="fa-solid fa-user"></i>
        ورود / ثبت نام
      </button>
    }
  </div>
</nav>
