textarea {
  resize: none;
}
#edit-blog-page #category-list::-webkit-scrollbar {
  /* display: block; */
  width: 1px !important;
  height: 1px !important;
}
#edit-blog-page #category-list::-webkit-scrollbar-button {
  display: none !important;
}
#edit-blog-page #category-list::-webkit-scrollbar-track {
  border-radius: 10px !important;
}

#edit-blog-page #category-list::-webkit-scrollbar-thumb {
  background: #2b00ff3a !important;
  border-radius: 10px;
}

#edit-blog-page #cat-select-input::placeholder {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

#edit-blog-page #category-list {
  max-height: 0;
  transition: 0.2s;
  opacity: 0;
}
#edit-blog-page #category-list.show {
  max-height: 400px;
  opacity: 1;
}

.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow:
    0 2px 8px 0px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}
