<div class="w-full h-auto flex flex-col justify-center items-start gap-5">
  <div class="w-full flex flex-row justify-between items-center">
    <h1 class="text-[16px] font-bold">
      دسته بندی ها
      @if (addCategoryActive) {
        <span class="inline-block text-sm text-black/60 mr-2"> > &nbsp; ایجاد دسته بندی </span>
      }
    </h1>
    @if (!addCategoryActive) {
      <a
        role="button"
        class="p-2 px-3 text-sm bg-blue-500 text-white rounded-md shadow-md shadow-black/20 cursor-pointer"
        (click)="addCategoryActive = true"
      >
        افزودن دسته بندی
      </a>
    }
  </div>
  @if (addCategoryActive) {
    <app-add-category (cancelAdding)="addCategoryActive = $event" class="w-full"></app-add-category>
  }
  <div class="gap-4 mt-2" id="categories-container">
    @if (isLoading()) {
      <span>درحال بارگذاری...</span>
    }
    @if (isError()) {
      <span>مشکل در بارگذاری اطلاعات!</span>
    } @else {
      @for (category of value(); track category.id) {
        <div
          class="overflow-hidden relative transition cursor-pointer hover:shadow-lg hover:bg-blue-100 flex flex-col justify-between items-center rounded-md shadow-md shadow-black/20 bg-white px-4 pt-6 pb-8"
        >
          <div class="w-full h-1/2 flex flex-row gap-2 justify-start items-center">
            <span
              class="shadow-md shadow-black/15 rounded-full text-xl text-white flex justify-center items-center w-10 h-10 pt-1 bg-blue-400/70"
              >{{ category.name[0].toUpperCase() }}</span
            >
            <div class="h-1/2 flex flex-col justify-center items-start">
              <h3 class="text-lg text-black/90">{{ category.name }}</h3>
              <span class="text-[11px] text-black/70 font-light flex flex-row gap-0.5 items-start">
                <img src="assets/vectors/attach.svg" class="w-3.5 h-3.5 opacity-80" />
                {{ category.urlHandle }}
              </span>
            </div>
          </div>
          <div
            id="cards-buttonSection"
            class="w-full absolute flex justify-between bottom-2.5 h-fit px-4"
          >
            <div class="w-fit items-center">
              <button
                class="ml-auto flex flex-row gap-0.5 justify-center items-center cursor-pointer opacity-70"
              >
                <span class="text-[11px] pt-1 text-black/70">12</span>
                <img
                  class="w-4 h-4 hover:scale-120 transition"
                  src="assets/vectors/eye.svg"
                  alt="مشاهده بلاگ ها"
                  title="مشاهده بلاگ ها"
                />
              </button>
            </div>
            <div class="flex flex-row gap-1.5 justify-end">
              <button
                class="cursor-pointer"
                [routerLink]="['/admin/categories', 'edit', category.id]"
              >
                <img
                  class="w-4 h-4 hover:scale-120 transition"
                  src="assets/vectors/edit.svg"
                  alt="ویرایش"
                  title="ویرایش"
                />
              </button>
              <button class="cursor-pointer" (click)="deleteCategory(category.id)">
                <img
                  class="w-4 h-4 hover:scale-120 transition"
                  src="assets/vectors/delete.svg"
                  alt="حذف"
                  title="حذف"
                />
              </button>
            </div>
          </div>
        </div>
      }
    }
  </div>
</div>
