#categories-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#categories-container #cards-buttonSection div:last-child {
  transform: translateX(-200%);
  opacity: 0;
  animation: move-to-right .5s ease forwards;
}
#categories-container #cards-buttonSection div:first-child {
  transform: translateX(200%);
  opacity: 0;
  animation: move-to-left .5s ease forwards;
}

@keyframes move-to-right {
  0% {
    transform: translateX(-200%);
    opacity: 0;
    display: none;
  }
  100% {
    transform: translateX(0);
    display: flex;
    opacity: 1;
  }
}
@keyframes move-to-left {
  0% {
    transform: translateX(200%);
    opacity: 0;
    display: none;
  }
  100% {
    transform: translateX(0);
    display: flex;
    opacity: 1;
  }
}