<div class="w-full h-auto flex flex-col justify-center items-start gap-5">
  <div class="w-full flex flex-row justify-between items-center">
    <h1 class="text-[16px] font-bold">
      دسته بندی ها
      @if (addCategoryActive) {
        <span class="inline-block text-sm text-black/60 mr-2"> > &nbsp; ایجاد دسته بندی </span>
      }
    </h1>
    @if (!addCategoryActive) {
      <a
        role="button"
        class="p-2 px-3 text-sm bg-blue-500 text-white rounded-md shadow-md shadow-black/20 cursor-pointer"
        (click)="addCategoryActive = true"
      >
        افزودن دسته بندی
      </a>
    }
  </div>
  @if (addCategoryActive) {
    <app-add-category (cancelAdding)="addCategoryActive = $event" class="w-full"></app-add-category>
  }
  <div class="w-full flex flex-col">
    @if (isLoading()) {
      <span>درحال بارگذاری...</span>
    }
    @if (isError()) {
      <span>مشکل در بارگذاری اطلاعات!</span>
    } @else {}
  </div>
</div>
