@if (showImageSelector() == true) {
  <div class="image-selector-container">
    <div class="w-full max-w-[1000px] glass-card p-5 px-5.5 pb-6 scaleInCenter">
      <div
        class="flex flex-row justify-between items-center mb-5 border-0 border-b dark:border-white/15 border-black/10 pb-4"
      >
        <h3 class="text-[16px] font-bold text-white/95">انتخاب تصویر</h3>
        <i
          class="fa-solid fa-xmark fa-lg cursor-pointer"
          (click)="closeImageSelector()"
          style="color: rgb(255, 255, 255)"
        ></i>
      </div>
      <div class="grid grid-cols-2 gap-6">
        <form [formGroup]="imageSelectorUploadForm" (ngSubmit)="submitImages()">
          <p class="text-xs font-medium text-white/95 mb-2 text-right">بارگذاری تصویر</p>
          <div
            id="drop-zone"
            onclick="document.getElementById('file-input').click()"
            ondragover="onDragOver(event)"
            ondragleave="onDragLeave()"
            ondrop="onDrop(event)"
            class="border-2 border-dashed border-gray-300 dark:border-gray-500 rounded-[16px] p-8 text-center cursor-pointer dark:hover:bg-black hover:bg-white/10 transition-colors"
          >
            <i
              class="fa-solid fa-cloud-arrow-down fa-3x mb-3"
              style="color: rgb(200, 181, 255)"
            ></i>
            <p class="text-sm font-medium text-white/80 mb-2">فایل را اینجا رها کنید</p>
            <p class="text-[11px] text-white/50">یا برای انتخاب کلیک کنید</p>
            <p class="text-[10px] text-white/50 mt-1">PNG، JPG، WEBP — حداکثر ۵ مگابایت</p>
            <input
              id="file-input"
              type="file"
              accept="image/*"
              multiple=""
              class="hidden"
              (change)="onFileSelect($event)"
            />
          </div>
          <div class="mt-3 flex flex-col gap-2">
            <div class="w-full flex flex-row justify-between items-center">
              <span class="text-[11px] w-[120px] text-white/50 text-right">فایل انتخاب شده :</span>
              <span class="text-[10px] leading-3 w-fit text-left text-white/70">
                @if (imageSelectorUploadForm.controls.file.value) {
                  {{ imageSelectorUploadForm.controls.file.value.name }}
                } @else {
                  فایلی انتخاب نشده است
                }
              </span>
            </div>
            <div class="relative pb-5">
              @if (imageSelectorUploadForm.controls.name.invalid) {
                <i
                  class="fa-solid fa-circle-exclamation absolute left-2.5 top-2.5"
                  style="color: rgb(172, 172, 172)"
                ></i>
              }
              @if (imageSelectorUploadForm.controls.name.valid) {
                <i
                  class="fa-solid fa-check absolute left-2.5 top-2.5"
                  style="color: rgb(150, 177, 124)"
                ></i>
              }
              <input
                id="file-name"
                type="text"
                placeholder="نام جدید"
                formControlName="name"
                class="focus:border-white/60 pl-8 dark:focus:border-white/30 w-full input-text-normal h-9 border border-white/40 dark:border-white/20 text-white/95 rounded-[15px] py-1 px-2 outline-0"
              />
              @if (
                imageSelectorUploadForm.controls.name.valid ||
                imageSelectorUploadForm.controls.name.untouched
              ) {
                <span
                  class="text-(length:--addblog-helperTextSize) absolute bottom-0 right-0 text-(--textWhite40) pr-0.5"
                  >نام دلخواه برای عکس بدون پسوند فایل</span
                >
              }
              @if (imageSelectorUploadForm.controls.name.hasError('fileExtension')) {
                <span
                  class="text-(length:--addblog-helperTextSize) absolute bottom-0 right-0 text-red-600/80 dark:text-red-400 pr-0.5"
                  >نام تصویر باید فاقد پسوند باشد</span
                >
              }
              @if (
                imageSelectorUploadForm.controls.name.hasError('required') &&
                imageSelectorUploadForm.controls.name.touched
              ) {
                <span
                  class="text-(length:--addblog-helperTextSize) absolute bottom-0 right-0 text-red-600/80 dark:text-red-400 pr-0.5"
                  >وارد کردن نام تصویر الزامی است</span
                >
              }
            </div>
            <div class="relative pb-5">
              @if (
                imageSelectorUploadForm.controls.title.invalid
              ) {
                <i
                  class="fa-solid fa-circle-exclamation absolute left-2 top-2.5"
                  style="color: rgb(172, 172, 172)"
                ></i>
              }
              @if (
                imageSelectorUploadForm.controls.title.valid
              ) {
                <i
                  class="fa-solid fa-check absolute left-2 top-2.5"
                  style="color: rgb(150, 177, 124)"
                ></i>
              }
              <input
                id="file-title"
                type="text"
                placeholder="عنوان جدید"
                formControlName="title"
                class="focus:border-white/60 pl-8 dark:focus:border-white/30 w-full input-text-normal h-9 border border-white/40 dark:border-white/20 text-white/95 rounded-[15px] py-1 px-2 outline-0"
              />
              @if (
                imageSelectorUploadForm.controls.title.valid ||
                imageSelectorUploadForm.controls.title.untouched
              ) {
                <span
                  class="text-(length:--addblog-helperTextSize) absolute bottom-0 right-0 text-(--textWhite40) pr-0.5"
                  >عنوان دلخواه برای عکس بدون پسوند فایل</span
                >
              }
              @if (imageSelectorUploadForm.controls.title.hasError('fileExtension')) {
                <span
                  class="text-(length:--addblog-helperTextSize) absolute bottom-0 right-0 text-red-600/80 dark:text-red-400 pr-0.5"
                  >عنوان تصویر باید فاقد پسوند باشد</span
                >
              }
              @if (
                imageSelectorUploadForm.controls.title.hasError('required') &&
                imageSelectorUploadForm.controls.title.touched
              ) {
                <span
                  class="text-(length:--addblog-helperTextSize) absolute bottom-0 right-0 text-red-600/80 dark:text-red-400 pr-0.5"
                  >وارد کردن عنوان تصویر الزامی است</span
                >
              }
            </div>
            <button
              [disabled]="imageSelectorUploadForm.invalid"
              class="w-full cursor-pointer bg-blue-600 disabled:opacity-60 active:scale-[0.98] text-white text-sm mt-2 font-medium py-2 rounded-[16px] shadow-md shadow-black/15 transition-all"
            >
              <i class="ti ti-upload text-sm align-[-2px] ml-1"></i>
              بارگذاری
            </button>
          </div>
        </form>
        <div class="h-full flex flex-col">
          <p class="text-xs font-medium text-white/95 mb-2 text-right">تصاویر انتخاب‌شده</p>
          <div
            id="gallery"
            class="bg-transparent border w-full max-h-[400px] overflow-auto border-white/30 dark:border-white/30 rounded-[16px] p-3 h-full"
          >
            @if (isloading()) {
              <app-loader></app-loader>
            }
            @if (allImages()) {
              <div class="images-container">
                @for (image of allImages(); track image.id) {
                  <div
                    class="flex flex-col justify-center rounded-lg hover:bg-white/15 items-center gap-1 flex-[90px] shrink grow h-fit overflow-hidden cursor-pointer"
                    (click)="onSelectImage(image)"
                  >
                    <div
                      class="w-full h-[80px] transition overflow-hidden p-2 rounded-lg border border-white/20"
                    >
                      <img
                        class="w-full h-full object-contain"
                        [src]="image.url"
                        [alt]="image.title"
                      />
                    </div>
                    <span class="text-[10px] text-center text-white/80 font-thin">{{
                      image.fileName
                    }}</span>
                  </div>
                }
              </div>
            }
            @if (!allImages()) {
              <div
                id="empty-state"
                class="w-full h-full flex flex-col items-center justify-center min-h-[200px] text-white/95"
              >
                <i class="fa-regular fa-eye-slash fa-xl mb-5" style="color: rgb(158, 158, 158)"></i>
                <p class="text-xs text-white/50">هنوز تصویری انتخاب نشده</p>
              </div>
            }
          </div>
          <div class="mt-2 flex justify-between items-center">
            <span id="count-label" class="text-[11px] text-white/70"
              >{{ allImages()?.length }} تصویر</span
            >
            <button
              onclick="clearAll()"
              class="text-[10px] cursor-pointer hover:bg-red-600/50 px-3 py-1 rounded-full bg-red-500/70 text-white/80 shadow-md shadow-black/15 transition-colors"
            >
              حذف همه
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
}
