textarea {
  resize: none;
}

#add-blog-page #category-list::-webkit-scrollbar {
  height: 2px;
}
#add-blog-page #category-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

#add-blog-page #category-list::-webkit-scrollbar-thumb {
  background: var(--addblog-scrollThumb);
  border-radius: 10px;
}

#add-blog-page #cat-select-input::placeholder {
  font-size: var(--addblog-placeholderSize);
  color: var(--addblog-searchPlaceholder);
}

#add-blog-page #category-list {
  max-height: 0;
  transition: 0.2s;
  opacity: 0;
}
#add-blog-page #category-list.show {
  max-height: 400px;
  opacity: 1;
}

.glass-card-sm {
  background: var(--textWhite05);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: var(--addblog-inputRadius);
  border: 1px solid var(--textWhite20);
  box-shadow:
    0 2px 8px 0px var(--textBlack10),
    inset 0 1px 0 var(--textWhite50),
    inset 0 -1px 0 var(--textWhite10),
    inset 0 0 2px 1px var(--textWhite10);
  overflow: hidden;
}

.glass-card-sm::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    var(--textWhite30),
    transparent
  );
}

.glass-card-sm::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    var(--textWhite30),
    transparent,
    var(--textWhite20)
  );
}

#add-blog-hint img {
  animation: myAnim 2s ease 0s normal infinite;
}
@keyframes myAnim {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  50% {
    scale: 110%;
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}
