textarea {
  resize: none;
}
#category-list::-webkit-scrollbar {
  height: 2px;
}
#category-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

#category-list::-webkit-scrollbar-thumb {
  background: #2b00ff3a;
  border-radius: 10px;
}

#cat-select-input::placeholder {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

#category-list {
  max-height: 0;
  transition: .2s;
  opacity: 0;
}
#category-list.show {
  max-height: 400px;
  opacity: 1;
}
