<div class="w-full flex flex-col justify-center items-start">
  <div class="w-full flex flex-row items-center">
    <form
      [formGroup]="addCategoryFormGroup"
      (ngSubmit)="onSubmit()"
      class="w-full flex flex-row justify-between gap-4"
    >
      <div class="w-1/3 flex flex-col gap-2 items-start">
        <label class="text-sm text-black/80" for="category-name">نام دسته بندی جدید</label>
        <input
          class="w-full h-9 border border-black/20 rounded-lg py-1 px-2 outline-0"
          id="category-name"
          type="text"
          formControlName="name"
          maxlength="20"
        />
        @if (categoryNameInput.touched && categoryNameInput.hasError('required')) {
          <span class="text-[11px] text-red-500">نام دسته بندی نباید خالی باشد</span>
        }
        @if (categoryNameInput.touched && categoryNameInput.hasError('minlength')) {
          <span class="text-[11px] text-red-500">نام دسته بندی حداقل 3 کلمه</span>
        }
      </div>
      <div class="w-1/3 flex flex-col gap-2 items-start">
        <label class="text-sm text-black/80" for="category-urlHandle"
          >مسیر دسته بندی جدید (slug)</label
        >
        <input
          class="w-full h-9 border border-black/20 rounded-lg py-1 px-2 outline-0"
          id="category-urlHandle"
          type="text"
          formControlName="urlHandle"
          maxlength="30"
        />
        @if (categoryUrlHandleInput.touched && categoryUrlHandleInput.hasError('required')) {
          <span class="text-[11px] text-red-500">نام دسته بندی نباید خالی باشد</span>
        }
        @if (categoryUrlHandleInput.touched && categoryUrlHandleInput.hasError('minlength')) {
          <span class="text-[11px] text-red-500">نام دسته بندی حداقل 3 کلمه</span>
        }
      </div>
      <div class="w-1/3 h-[64px] items-end justify-end flex flex-row gap-2">
        <button
          class="p-2 px-3 text-sm bg-red-400 text-white rounded-md shadow-md shadow-black/20 cursor-pointer"
          (click)="cancelAddingCategory()"
        >
          انصراف
        </button>
        <button
          type="reset"
          class="p-2 px-3 text-sm bg-slate-500 text-white rounded-md shadow-md shadow-black/20 cursor-pointer"
        >
          پاک کردن
        </button>
        <button
          type="submit"
          [disabled]="!addCategoryFormGroup.valid"
          class="p-2 px-3 text-sm bg-blue-500 disabled:opacity-60 text-white rounded-md shadow-md shadow-black/20 cursor-pointer"
        >
          ایجاد دسته بندی
        </button>
      </div>
    </form>
  </div>
</div>
